<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

    <!-- DataSource for real data -->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.relique.jdbc.csv.CsvDriver"/>
        <property name="url" value="jdbc:relique:csv:csvDatabase"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>

    <!-- DataSource for Mock Data (Sample data) for Unit/Integration test  -->
    <bean id="mockDataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.relique.jdbc.csv.CsvDriver"/>
        <property name="url" value="jdbc:relique:csv:testResources/mockData"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>

    <bean id="gSql" class="groovy.sql.Sql">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="sqlMock" class="groovy.sql.Sql">
        <constructor-arg ref="mockDataSource"/>
    </bean>

    <bean id="mockSql" class="org.cghr.generator.test.db.MockSql">
        <constructor-arg ref="sqlMock"></constructor-arg>
    </bean>

    <!-- db Type Mapping -->
    <util:map id="dbTypeMapping">
        <entry key="int" value="bigint(10)"></entry>
        <entry key="text" value="varchar(100)"></entry>
        <entry key="longtext" value="text"></entry>
        <entry key="timestamp" value="timestamp default current_timestamp"></entry>
        <entry key="select" value="varchar(100)"></entry>
        <entry key="select-inline" value="varchar(100)"></entry>
        <entry key="multiselect" value="varchar(100)"></entry>
        <entry key="lookup" value="varchar(100)"></entry>
        <entry key="auto" value="bigint(10)"></entry>
        <entry key="gps" value-ref="gps"></entry>
        <entry key="text_select" value-ref="text_select"></entry>
        <entry key="select_text" value-ref="select_text"></entry>
        <entry key="select_singletext" value-ref="select_text"></entry>
        <entry key="dropdown" value="varchar(100)"></entry>
        <entry key="dynamic_dropdown" value="varchar(100)"></entry>
        <entry key="suggest" value="varchar(100)"></entry>
        <entry key="ffq" value-ref="ffq"></entry>
        <entry key="alcoholFreq" value-ref="alcoholFreq"></entry>
        <entry key="fmhDisease" value-ref="fmhDisease"></entry>

    </util:map>


    <util:list id="gps">
        <ref bean="latitude"></ref>
        <ref bean="longitude"></ref>
    </util:list>

    <util:map id="latitude">
        <entry key="name" value="{name}_latitude"></entry>
        <entry key="type" value="varchar(100)"></entry>
    </util:map>

    <util:map id="longitude">
        <entry key="name" value="{name}_longitude"></entry>
        <entry key="type" value="varchar(100)"></entry>
    </util:map>

    <util:list id="text_select">
        <ref bean="text_select_value"></ref>
        <ref bean="text_select_unit"></ref>
    </util:list>

    <util:map id="text_select_value">
        <entry key="name" value="{name}_value"></entry>
        <entry key="type" value="varchar(100)"></entry>
    </util:map>

    <util:map id="text_select_unit">
        <entry key="name" value="{name}_unit"></entry>
        <entry key="type" value="varchar(100)"></entry>
    </util:map>
    <util:list id="select_text">
        <ref bean="select_text_value"></ref>
        <ref bean="select_text_unit"></ref>
    </util:list>

    <util:map id="select_text_value">
        <entry key="name" value="{name}_value"></entry>
        <entry key="type" value="varchar(100)"></entry>
    </util:map>

    <util:map id="select_text_unit">
        <entry key="name" value="{name}_unit"></entry>
        <entry key="type" value="varchar(100)"></entry>
    </util:map>

    <util:list id="ffq">
        <ref bean="ffq_frequency"></ref>
        <ref bean="ffq_measure"></ref>
        <ref bean="ffq_unit"></ref>
    </util:list>

    <util:map id="ffq_frequency">
        <entry key="name" value="{name}_frequency"></entry>
        <entry key="type" value="varchar(100)"></entry>
    </util:map>

    <util:map id="ffq_measure">
        <entry key="name" value="{name}_measure"></entry>
        <entry key="type" value="varchar(100)"></entry>
    </util:map>

    <util:map id="ffq_unit">
        <entry key="name" value="{name}_unit"></entry>
        <entry key="type" value="varchar(100)"></entry>
    </util:map>

    <!-- Alcohol Freq -->
    <util:list id="alcoholFreq">
        <ref bean="freq"></ref>
        <ref bean="typicalDay"></ref>

        <ref bean="lastTime"></ref>
    </util:list>

    <util:map id="freq">
        <entry key="name" value="{name}_frequency"></entry>
        <entry key="type" value="varchar(100)"></entry>
    </util:map>

    <util:map id="typicalDay">
        <entry key="name" value="{name}_typicalDay"></entry>
        <entry key="type" value="varchar(100)"></entry>
    </util:map>


    <util:map id="lastTime">
        <entry key="name" value="{name}_lastTime"></entry>
        <entry key="type" value="varchar(100)"></entry>
    </util:map>


    <!-- Fmh Disease -->
    <util:list id="fmhDisease">
        <ref bean="stroke"></ref>
        <ref bean="heartAttack"></ref>
        <ref bean="diabetes"></ref>
        <ref bean="mentalDisorder"></ref>
        <ref bean="cancer"></ref>
    </util:list>

    <util:map id="stroke">
        <entry key="name" value="{name}_stroke"></entry>
        <entry key="type" value="varchar(100)"></entry>
    </util:map>

    <util:map id="heartAttack">
        <entry key="name" value="{name}_heartAttack"></entry>
        <entry key="type" value="varchar(100)"></entry>
    </util:map>

    <util:map id="diabetes">
        <entry key="name" value="{name}_diabetes"></entry>
        <entry key="type" value="varchar(100)"></entry>
    </util:map>

    <util:map id="mentalDisorder">
        <entry key="name" value="{name}_mentalDisorder"></entry>
        <entry key="type" value="varchar(100)"></entry>
    </util:map>

    <util:map id="cancer">
        <entry key="name" value="{name}_cancer"></entry>
        <entry key="type" value="varchar(100)"></entry>
    </util:map>
    <!-- db Type Mapping Ends-->


    <!-- Schema Type Mapping -->
    <util:map id="schemaTypeMapping">
        <entry key="text" value="text"></entry>
        <entry key="select" value="radio"></entry>
        <entry key="select-inline" value="radio-inline"></entry>
        <entry key="multiselect" value="checkbox"></entry>
        <entry key="auto" value="hidden"></entry>
        <entry key="textarea" value="textarea"></entry>
        <entry key="heading" value="heading"></entry>
        <entry key="lookup" value="lookup"></entry>
        <entry key="gps" value="gps"></entry>
        <entry key="text_select" value="text_select"></entry>
        <entry key="select_text" value="select_text"></entry>
        <entry key="select_singletext" value="select_singletext"></entry>
        <entry key="dropdown" value="dropdown"></entry>
        <entry key="dynamic_dropdown" value="dynamic_dropdown"></entry>
        <entry key="suggest" value="suggest"></entry>
        <entry key="hidden" value="hidden"></entry>
        <entry key="ffq" value="ffq"></entry>
        <entry key="alcoholFreq" value="alcoholFreq"></entry>
        <entry key="fmhDisease" value="fmhDisease"></entry>
    </util:map>

    <!-- Schema Type Mapping Ends-->

    <!--Integration Testing Beans -->

    <bean class="org.cghr.generator.transformer.EntityTransformer" id="dbEntityTransformer">
        <constructor-arg index="0" ref="dbTypeMapping"></constructor-arg>

    </bean>

    <bean class="org.cghr.generator.transformer.EntityTransformer" id="schemaEntityTransformer">
        <constructor-arg index="0" ref="schemaTypeMapping"></constructor-arg>
    </bean>

    <bean class="com.github.jknack.handlebars.Handlebars" id="handlebars">
    </bean>

    <bean class="org.cghr.generator.Generator" id="generator">
        <constructor-arg index="0" ref="handlebars"></constructor-arg>
    </bean>

    <bean class="java.lang.String" id="dbTemplate">
        <constructor-arg>
            <value>templates/db</value>
        </constructor-arg>

    </bean>

    <!--db Generator With Mock Data-->
    <bean class="org.cghr.generator.db.DbGenerator" id="dbGeneratorWithMock">
        <constructor-arg index="0" ref="sqlMock"></constructor-arg>
        <constructor-arg index="1" ref="dbEntityTransformer"></constructor-arg>
        <constructor-arg index="2" ref="generator"></constructor-arg>
        <constructor-arg index="3" value="templates/db"></constructor-arg>
    </bean>
    <!--db Generator-->

    <!-- schema Generator with Mock data-->
    <bean class="org.cghr.generator.jsonSchema.SchemaGenerator" id="schemaGeneratorWithMock">
        <constructor-arg index="0" ref="sqlMock"/>
        <constructor-arg index="1" ref="schemaEntityTransformer"/>
        <constructor-arg index="2" ref="generator"/>
        <constructor-arg index="3" value="templates/jsonSchema"/>

    </bean>

    <!-- schema Generator -->

    <!-- Web service Generator with Mockk Data-->
    <bean class="org.cghr.generator.webservice.WebServiceGenerator" id="webserviceGeneratorWithMock">
        <constructor-arg index="0" ref="sqlMock"/>
        <constructor-arg index="1" ref="generator"/>
    </bean>

    <!-- Web service Generator-->

    <!-- Data store info generator -->
    <bean class="org.cghr.generator.dataStoreInfo.DataStoreInfoGenerator" id="dataStoreInfoGeneratorWithMock">
        <constructor-arg index="0" ref="sqlMock"/>
        <constructor-arg index="1" ref="generator"/>
    </bean>
    <!-- Data store info generator -->


    <!--db Generator With Mock Data-->
    <bean class="org.cghr.generator.db.DbGenerator" id="dbGenerator">
        <constructor-arg index="0" ref="gSql"></constructor-arg>
        <constructor-arg index="1" ref="dbEntityTransformer"></constructor-arg>
        <constructor-arg index="2" ref="generator"></constructor-arg>
        <constructor-arg index="3" value="templates/db"></constructor-arg>
    </bean>
    <!--db Generator-->

    <!-- schema Generator with Mock data-->
    <bean class="org.cghr.generator.jsonSchema.SchemaGenerator" id="schemaGenerator">
        <constructor-arg index="0" ref="gSql"/>
        <constructor-arg index="1" ref="schemaEntityTransformer"/>
        <constructor-arg index="2" ref="generator"/>
        <constructor-arg index="3" value="templates/jsonSchema"/>

    </bean>

    <!-- schema Generator -->

    <!-- Web service Generator with Mockk Data-->
    <bean class="org.cghr.generator.webservice.WebServiceGenerator" id="webserviceGenerator">
        <constructor-arg index="0" ref="gSql"/>
        <constructor-arg index="1" ref="generator"/>
    </bean>
    <!-- Web service Generator-->

    <bean class="org.cghr.generator.dataStoreInfo.DataStoreInfoGenerator" id="dataStoreInfoGenerator">
        <constructor-arg index="0" ref="gSql"/>
        <constructor-arg index="1" ref="generator"/>
    </bean>


    <!--Integration Testing Beans Ends-->

</beans>
