<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <!--<property name="driverClassName" value="org.h2.Driver"/>-->
        <property name="driverClassName" value="org.relique.jdbc.csv.CsvDriver"/>
        <!--<property name="url" value="jdbc:h2:mem:specs;database_to_upper=false"/>-->
        <property name="url" value="jdbc:relique:csv:csvDatabase"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>

    <bean id="mockDataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.relique.jdbc.csv.CsvDriver"/>
        <property name="url" value="jdbc:relique:csv:testResources/mockData"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>

    <bean id="gSql" class="groovy.sql.Sql">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="sql" class="groovy.sql.Sql">
        <constructor-arg ref="mockDataSource"/>
    </bean>

    <bean id="mockSql" class="org.cghr.generator.test.db.MockSql">
        <constructor-arg ref="sql"></constructor-arg>
    </bean>

    <!-- db Type Mapping -->
    <util:map id="dbTypeMapping">
        <entry key="int" value="int(11)"></entry>
        <entry key="text" value="varchar(100)"></entry>
        <entry key="longtext" value="clob"></entry>
        <entry key="timestamp" value="timestamp"></entry>
        <entry key="select" value="varchar(100)"></entry>
        <entry key="select-inline" value="varchar(100)"></entry>
        <entry key="multiselect" value="varchar(100)"></entry>
        <entry key="lookup" value="varchar(100)"></entry>
        <entry key="auto" value="int(11)"></entry>
        <entry key="gps" value-ref="gps"></entry>
        <entry key="duration" value-ref="duration"></entry>
        <entry key="dropdown" value="varchar(100)"></entry>
        <entry key="suggest" value="varchar(100)"></entry>
        <entry key="ffq" value-ref="ffq"></entry>

    </util:map>


    <util:list id="gps">
        <ref bean="latitude"></ref>
        <ref bean="longitude"></ref>
    </util:list>

    <util:map id="latitude">
        <entry key="name" value="{name}_latitude"></entry>
        <entry key="type" value="varchar(100)"></entry>
    </util:map>

    <util:map id="longitude">
        <entry key="name" value="{name}_longitude"></entry>
        <entry key="type" value="varchar(100)"></entry>
    </util:map>

    <util:list id="duration">
        <ref bean="duration_value"></ref>
        <ref bean="duration_unit"></ref>
    </util:list>

    <util:map id="duration_value">
        <entry key="name" value="{name}_value"></entry>
        <entry key="type" value="varchar(100)"></entry>
    </util:map>

    <util:map id="duration_unit">
        <entry key="name" value="{name}_unit"></entry>
        <entry key="type" value="varchar(100)"></entry>
    </util:map>

    <util:list id="ffq">
        <ref bean="ffq_frequency"></ref>
        <ref bean="ffq_measure"></ref>
        <ref bean="ffq_unit"></ref>
    </util:list>

    <util:map id="ffq_frequency">
        <entry key="name" value="{name}_frequency"></entry>
        <entry key="type" value="varchar(100)"></entry>
    </util:map>

    <util:map id="ffq_measure">
        <entry key="name" value="{name}_measure"></entry>
        <entry key="type" value="varchar(100)"></entry>
    </util:map>

    <util:map id="ffq_unit">
        <entry key="name" value="{name}_unit"></entry>
        <entry key="type" value="varchar(100)"></entry>
    </util:map>

    <!-- db Type Mapping Ends-->


    <!-- Schema Type Mapping -->
    <util:map id="schemaTypeMapping">
        <entry key="text" value="text"></entry>
        <entry key="select" value="radio"></entry>
        <entry key="select-inline" value="radio"></entry>
        <entry key="multiselect" value="checkbox"></entry>
        <entry key="auto" value="hidden"></entry>
        <entry key="textarea" value="textarea"></entry>
        <entry key="heading" value="heading"></entry>
        <entry key="lookup" value="lookup"></entry>
        <entry key="gps" value="gps"></entry>
        <entry key="duration" value="duration"></entry>
        <entry key="dropdown" value="dropdown"></entry>
        <entry key="suggest" value="suggest"></entry>
        <entry key="hidden" value="hidden"></entry>
        <entry key="ffq" value="ffq"></entry>


    </util:map>

    <!-- Schema Type Mapping Ends-->

    <!--Integration Testing Beans -->

    <bean class="org.cghr.generator.transformer.EntityTransformer" id="dbEntityTransformer">
        <constructor-arg index="0" ref="dbTypeMapping"></constructor-arg>

    </bean>

    <bean class="org.cghr.generator.transformer.EntityTransformer" id="schemaEntityTransformer">
        <constructor-arg index="0" ref="schemaTypeMapping"></constructor-arg>
    </bean>

    <bean class="com.github.jknack.handlebars.Handlebars" id="handlebars">
    </bean>

    <bean class="org.cghr.generator.Generator" id="generator">
        <constructor-arg index="0" ref="handlebars"></constructor-arg>
    </bean>

    <bean class="java.lang.String" id="dbTemplate">
        <constructor-arg>
            <value>templates/db</value>
        </constructor-arg>

    </bean>

    <!--db Generator-->
    <bean class="org.cghr.generator.db.DbGenerator">
        <constructor-arg index="0" ref="sql"></constructor-arg>
        <constructor-arg index="1" ref="dbEntityTransformer"></constructor-arg>
        <constructor-arg index="2" ref="generator"></constructor-arg>
        <constructor-arg index="3" value="templates/db"></constructor-arg>
    </bean>
    <!--db Generator-->

    <!-- schema Generator -->
    <bean class="org.cghr.generator.jsonSchema.SchemaGenerator" id="schemaGenerator">
        <constructor-arg index="0" ref="sql" />
        <constructor-arg index="1" ref="schemaEntityTransformer" />
        <constructor-arg index="2" ref="generator" />
        <constructor-arg index="3" value="templates/jsonSchema" />

    </bean>

    <!-- schema Generator -->

    <!-- Web service Generator-->
    <bean class="org.cghr.generator.webservice.WebServiceGenerator" id="webserviceGenerator">
        <constructor-arg index="0" ref="sql" />
        <constructor-arg index="1" ref="generator" />
    </bean>



    <!-- Web service Generator-->




    <!--Integration Testing Beans Ends-->

</beans>
