<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script></script>
    <meta charset="utf-8">
    <title>JS Bin</title>
</head>
<body ng-controller="mainCtrl">

<div>
    <h3>
        Select a Project
    </h3>
    <ol>
        <li ng-repeat="project in projects">
            <a href="" ng-click="generate(project.name,project.langs)">
                {{project.name}}
            </a>

        </li>
    </ol>

    <h4 ng-show="processing">Processing....Please Wait..</h4>

</div>
<script src="lib.js"></script>


</body>
</html>